<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>

<%= link_to 'Log In', login_path %>


  </div>
  <%= button_to("Let's Start Planning", new_user_path, { :method => :get, :class => 'special_button' })%>
  <div class="bg1">
    <%= image_tag("https://lh3.googleusercontent.com/mglGpp8yC2qCvNH8jWA_r01LM1tEbaEy0c_G9KTuB9qSiRI4IWgAjiQ_3u6KfAJVHeqfZ-E8dwq4fHcVNIPFovr3viY-7zpSZpjfg2z9wEGs-ZzS_Xof4pURl6BQO1Lmu-hAHCKWaD45tR92cxLXu6muXwQPPj-p8l-YDEBm7sADjL-Qt4nyP-KQPMISH3f55Us4fAVHzV0QdPt9zR8RwTgTRHPc15EM_6mNWz5sCFMtGyylgNiVBgeoQB0-oqV8J57X5CRkM_fSI86C0YEBnBS-tX-_Fh34Hyp6CGttq48EX3Vi9a74zbSrv-jAvdAiRCi5qRdN0WFcQb7uXU9cX7_ZRUjC_IZs2-WXEz0HrMWEde8O6N_E1ekAPJ0mXeLjcg4q9pEDBuOO3pDW7jvSaIDxxvbOmFAZmFQ_2WW3pGUcuXcysvenmiyX72124wPnumsM_5qEctYQQ8MzAp033IIUsCD3GvPzy9eH9Ks0oiIRDZoRbTZf0r1rKvcrEs_jHBHHC4pnYEGL7zrF2a0I4NYUZR6JjloIYuHb3PfFoNjOYCp7MyP_vZiTuwK7VfeBvPm94IlIoVbpN2uhkL2O_yUz6-kM0ickamoFrzg9NWJpjznGepZ-2Ygg26cVoNCW4eBMikcyJ8gmYeQ4fxLFAnBBqgtQMDd5XTh2Kt-8uZrytldnJWyA5AM3EhR6Mg=w1948-h1504-no", width: "100%") %>
  
  
  
  
  
  </div> 